
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dealogikal</title>
    <!-- plugins:css -->
    <link href="~/Assets/css/404.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Assets/img/dealogikal-logo.ico" />
</head>
<body style="background:url(/Assets/img/404/purple.jpg);background-repeat:repeat-x;background-size:cover;background-position:left top;height:100%;overflow:hidden;">

    <div style="background: url(/Assets/img/404/overlay_stars.svg);background-repeat: repeat;background-size: contain;background-position: left top;">
        <div class="objects">
            <img class="object_rocket" src="~/Assets/img/404/rocket.svg" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="~/Assets/img/404/earth.svg" width="100px">
                <img class="object_moon" src="~/Assets/img/404/moon.svg" width="80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="~/Assets/img/404/astronaut.svg" width="140px">
            </div>
        </div>
        <div style="text-align:center; padding:70px 0px 70px 0px">
            <h1 class="font-weight-bold" style="font-size:100px; color:white; margin-bottom:0">OOPS!</h1>
            <p class="font-weight-light" style="font-size:30px; color:white;">Your Account is Disabled</p>
            <p class="font-weight-light" style="font-size:30px; color:white;">Please Contact your Department Head or HR.</p>

            <a href="~/Home/Logout" class="btn-go-home">GO BACK HOME</a>
        </div>
        <div class="glowing_stars">
            <div style="background: url(/Assets/img/404/overlay_stars.svg);background-repeat: repeat;background-size: contain;background-position: left top;"></div>
            <div style="background: url(/Assets/img/404/overlay_stars.svg);background-repeat: repeat;background-size: contain;background-position: left top;"></div>
            <div style="background: url(/Assets/img/404/overlay_stars.svg);background-repeat: repeat;background-size: contain;background-position: left top;"></div>
            <div style="background: url(/Assets/img/404/overlay_stars.svg);background-repeat: repeat;background-size: contain;background-position: left top;"></div>
            <div style="background: url(/Assets/img/404/overlay_stars.svg);background-repeat: repeat;background-size: contain;background-position: left top;"></div>

        </div>

    </div>

</body>
</html>
